<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsd.celeste.mapper.ArticleMapper">
    <select id="filter" resultType="com.zsd.celeste.entity.PO.Article">
        select
            article.aid, article.uid, article.title, article.create_time, article.update_time, article.img,article.watch, article.likee, article.status, article.def_flag,
            substring(article.context, 1, 70) as context
        from article
            <if test="filter.tag != null">
            join link_article_tag on link_article_tag.aid = article.aid
            join tag              on link_article_tag.tid = tag.tid
            </if>
        <where>
            article.def_flag = 0
            <if test="filter.tag != null">
                and tag.title = #{filter.tag}
            </if>
            <if test="filter.uid != null">
                and article.uid = #{filter.uid}
            </if>
            <if test="filter.beginTime != null">
                and article.create_time &gt;= #{filter.beginTime}
            </if>
            <if test="filter.endTime != null">
                and article.create_time &lt;= #{filter.endTime}
            </if>
        </where>
        <if test="filter.order != null">
            order by ${filter.order} desc
        </if>
    </select>
</mapper>